body,
html {
    width: 100%;
    height: 100%;
}

[class*="col-"] {
  padding: 0px;
}
.a:active {
  color: red !important;
}
.mailto-link{
  color: white !important
}

.load_wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  display:flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 1200px){

.row{
  margin: 0px;
  clear: left;
}
.mynavbar{
height: 80px;
margin-bottom: 0px;
border-bottom: 0.5px solid rgba(5,4,1,0.2);

}

.mycontainer{
  height: 80px;
  padding: 0px;
}

.mynavbarheader{
  height: 80px;
}

.mynavbarbrand{
  height: 80px;
  padding: 20px 0px 16px;
}

.mynavlinks{
  height: 80px;
  padding: 16px 0px;
}

.container{
  padding: 0px;
  width: 1136px;
}

.work-rows{
  margin: 60px 0px;
  padding: 56px 0px;
  border-radius: 8px;
}

.work-rows:hover{
  background-color: #F9F9F9;
}

.myworkimg{
  width: 464px;
  height: 348px;
  border-radius: 4px;
  overflow: hidden;
}

.work-image{
  transition: transform .3s ease;
}

.work-rows:hover .work-image{
  transform: scale(1.03);
}

.about-rows1{
  margin: 160px 0px 100px;

}

.about-rows2{
  margin: 100px 0px;
}

.intro-message{
  padding: 8% 0% 6%;
}

.intro-message h1{
  margin-bottom: 20px;
  text-shadow: none;
  font-size: 64px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #050401;
}

.intro-message p{
  font-size: 24px;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
  width: 720px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 56px;
  color: #7D7C84;
}

.myshortcta{
  width: 176px;
  height: 48px;
  background-color: #FF7D49;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  color: #FFFFFF;
}

.mylongcta{
  width: 272px;
  height: 48px;
  background-color: #FF7D49;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  color: #FFFFFF;
}

.myshortcta:hover{
  background-color: rgba(255, 125, 73, 0.95);
  color: #FFFFFF;
}

.mylongcta:hover{
  background-color: rgba(255, 125, 73, 0.95);
  color: #FFFFFF;
}

.work-image{
  border-radius: 4px;
}

.myworktext{
  margin-left: 64px;
}

.section-heading {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 40px;
font-size: 28px;
color: #050401;
opacity: 1;
margin-bottom: 0px;
}

#myaboutheading{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #050401;
  margin-bottom: 0px;
  margin-top: 12px;
}
#myaboutpara1{
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #7D7C84;
}

.work-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  line-height: 24px;
  color: #7D7C84;
  width: 100%;
  margin-bottom: 48px;
  margin-top: 12px;
}

.work-date {

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: left;
line-height: 24px;
color: #333138;
width: 100%;
margin-top: 28px;
}

.myaboutpara2{
  margin-top: 0px;
}

/*.container{
  width: 1136px;
}*/

.myworktext h2{
  margin-bottom: 0px;
  margin-top: 32px;
}

#hiddenworkrows{
  display: none;
}

.workrowsalt .myworktext{
margin-left: -480px;
}

.workrowsalt .myworkimg{
  padding-left: 480px;
}

.hiddenworkrows .workrowsalt .myworktext{
margin-left: -480px;
}

.hiddenworkrows .workrowsalt .myworkimg{
  padding-left: 480px;
}


.intro-message-contact {
position: relative;
padding-bottom: 48px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 44px;
font-size: 28px;
text-align: center;
color: #050401;
width: 720px;
margin: auto;
}

.mycontent{
  border-bottom: 0.5px solid rgba(5,4,1,0.2);
}

.intro-header-contact {
padding-top: 96px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
padding-bottom: 96px;
text-align: center;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 44px;
font-size: 24px;
color: #050401;
position: relative;
}

.mycontactmessage p{
  margin-bottom: 48px;
}

.extlink{
  padding: 0px 4px;
}

.myviewmore{
  margin: auto;
  margin-bottom: 100px;
  text-align: -webkit-center;
}

.viewmore{
  padding: 0px;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 180px;
  height: 48px;
  background-color: #FFFFFF;
  border: none;
  color: #333138;
  box-shadow: 0px 4px 12px rgba(5, 4, 1, 0.08);

}

.viewmore:hover{
   box-shadow: 0px 8px 24px rgba(5, 4, 1, 0.06);
}

.myshortcta, .mylongcta:focus{
outline: none;
}
.myshortcta, .mylongcta:active{
outline: none;
}



.intro-header {
    padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 80px;
    text-align: center;
    border-bottom: 0.5px solid rgba(5,4,1,0.2);
    background-size: cover;
    height: 720px;

}

.navbar-default{
  background-color: rgba(255,255,255,0.95);
}

.topnav {
    font-size: 16px;
    /*border-bottom: 1px outset rgba(192, 192, 192, 0.5);*/

    /*box-shadow: 0px 1px rgba(0, 0, 0, 0.3);*/

}
.topnav ul.navbar-nav li a {
background:transparent;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 16px;
text-align: center;
color: #7D7C84;
opacity: 1;
padding: 16px 16px;

}

.topnav ul.navbar-nav li a:hover{
 color: #333138;
}



.me1rec{
  position: absolute;
  left: -22px;
  top: -20px;
  z-index: -2;
}

.me2rec{
  position: absolute;
  left: -24px;
  top: -32px;
  z-index: -2;
}

.myaboutpara1{
  margin-top: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  color: #7D7C84;
}

img.hobbies{
  position: relative;
  top: 32px;
  width: 400px;
  border-radius: 24px;
}

.photosrow{
  position: relative;
}

.photosrec{
  position: absolute;
  left: -28px;
  top: -32px;
  z-index: -2;
}

.about-rows3{
  margin: 80px 0px;
}

.about-rows4{
  margin-bottom: 140px;
}

.photos{
border-bottom: 0.5px solid rgba(5,4,1,0.2);
}

.experiencepic{
  text-align: center;
  padding: 32px 0px;
}

.mysectionheading{
  margin-top: 40px;
  padding-bottom: 0px;
}
.mysectioncontent{
  margin-top: 40px;
}

.mysectionheading h1{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 40px;
font-size: 32px;
text-align: center;
color: #050401;
margin-bottom: 0px;
margin-top: 20px;
}

.mysectionheading p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  color: #7D7C84;
  width: 72%;
  margin: 16px auto 0px;
}

.myexperience{
  margin: 40px 0px;
  position: relative;
}

h2.myaboutheader{
  font-size: 32px;
  line-height: 60px;
}

.myexptext{
  clear: left;
}

.gamesrow{
  margin-top: 100px;
}

.lnmrow{
  margin: 80px 0 140px;
}

img.hobbies2{
  display: none;
}

.mypics2, .photosrec2{
  display: none;
}

.contactcontent{
  margin: 140px 0px 140px;
}

.contact-hello{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  font-size: 40px;
  color: #050401;
  opacity: 1;
  margin: 0px 0px 4px;
}

.intro-message-contact-page p, .contact-email p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #7D7C84;
  opacity: 1;
  margin: 12px 0px;
}



h3.email-contact{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 font-size: 16px;
 color: #333138;
 margin: 12px 0 16px;
}

.contact-email{
  margin-top: 56px;
}

.contact-findme{
  margin-top: 40px;
}

.findme-links{
  margin: 24px 0px;
  position: relative;
  left: -12px;
}

.form-group{
  margin-bottom: 40px;
  margin-top: 4px;
}

.form-group label{
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #333138;
}

.form-group input{
  height: 40px;
}

.form-group textarea{
  height: 80px;
}


.contact-form button{
  margin-top: 20px;
}



img.homegreenrec{
  position: absolute;
  left: 0px;
  top:  176px;
}

img.homebluerec{
  position: absolute;
  right: 0px;
  top:  160px;
}

img.homeyellowrec{
  position: absolute;
  left: 144px;
  top:  560px;
}

img.contactgreenrec_home{
  position: absolute;
  right: 0px;
  top:  100px;
}

img.contactbluerec_home{
  position: absolute;
  left: 0px;
  top:  280px;
}

img.contactyellowrec_home{
  position: absolute;
  left: 82px;
  top:  40px;
}

img.contactgreenrec_about{
  position: absolute;
  right: 0px;
  top:  100px;
}

img.contactbluerec_about{
  position: absolute;
  left: 0px;
  top:  280px;
}

img.contactyellowrec_about{
  position: absolute;
  left: 82px;
  top:  40px;
}

img.expgreenrec{
  position: absolute;
  left: 56px;
  top:  28px;
}

img.expbluerec{
  position: absolute;
  left: 0px;
  top:  500px;
}

img.exporangerec{
  position: absolute;
  right: 0px;
  top:  88px;
}

img.expgreenrec2{
  position: absolute;
  left: 56px;
  bottom:  1000px;
}

img.expbluerec2{
  position: absolute;
  left: 0px;
  bottom:  450px;
}

img.exporangerec2{
  position: absolute;
  right: 0px;
  bottom:  500px;
}

.storyheaderimage img{
  width: 100%;
}

.content img{
  width: 100%;
  margin: 40px 0px;
  border-radius: 4px;
}

.storyintroheader{
  padding: 80px 0px 20px;
  border: none;
}

img.headermobile{
  display: none;
}

.storysection{
  padding: 80px 0px;
}

.storyhighlight{
  background: #f9f9f9;
}

.imagelarge{
  margin-top: -60px;
}



.imagelarge .content img{
  margin: 0px;
}

.content p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #050401;
  opacity: 1;
  margin: 24px 0px;
  text-align: left;
}

.content h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  font-size: 40px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 32px;
}

.content h2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  font-size: 28px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 24px;
  margin-top: 60px;
}

.content h3{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 48px;
}

.content h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  color: #7D7C84;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -20px;
}

p.highlight{
  background: #f9f9f9;
  padding: 20px 20px;
  margin: 40px 0px;
  font-style: italic;
}

.superbosssummary{
  padding-top: 0px;
}

.imagelarge2{
  margin-top: 0px;
}

.sider p{
  margin-top: 12px;
}
.sider h3{
  margin-bottom: 0px;
}

.expmobile{
  display: none;
}
.gamesmobile{
  display: none;
}
.tripmobile{
  display: none;
}

.cleartrip_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 100%;
}

.recharge_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 100%;
}

#togglelink{
  cursor: pointer;
  padding: 4px 16px;
  background:transparent;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #BFC0C0;
  opacity: 1;
  transform: scale(0.75);
}

.extlinkimg{
  width: 36px;
  height: 36px;
}

}


@media (min-width: 992px) and (max-width: 1199px){


  .mynavbarbrand img{
    width: 251px;
    height: 61px;
  }

  .container{
    width: 920px;
  }

  .navbar-default{
    background-color: rgba(255,255,255,0.95);
  }

  .mynavbar{
  height: 80px;
  margin-bottom: 0px;
  border-bottom: 0.5px solid rgba(5,4,1,0.2);

  }

  .mycontainer{
    height: 80px;
    padding: 0px;
  }

  .mynavbarheader{
    height: 80px;
  }

  .mynavbarbrand{
    height: 80px;
    padding: 10px 0px;
  }

  .mynavlinks{
    height: 80px;
    padding: 16px 0px;
  }

  .container{
    padding: 0px;
  }

  .work-rows{
    margin: 48px 0px;
    padding: 40px 0px;
    border-radius: 8px;
  }

  .work-rows:hover{
    background-color: #F9F9F9;
  }

  .myworkimg{
    width: 360px;
    height: 270px;
    border-radius: 4px;
    overflow: hidden;
  }

  .work-image{
    transition: transform .3s ease;
  }

  .work-rows:hover .work-image{
    transform: scale(1.03);
  }

  .intro-message{
    padding: 8% 0% 6%;
  }

  .intro-message h1{
    margin-bottom: 16px;
    text-shadow: none;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #050401;
  }

  .intro-message p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    width: 600px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 48px;
    color: #7D7C84;
  }

  .myshortcta{
    width: 176px;
    height: 48px;
    background-color: #FF7D49;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
  }

  .mylongcta{
    width: 272px;
    height: 48px;
    background-color: #FF7D49;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
  }

  .myshortcta:hover{
    background-color: rgba(255, 125, 73, 0.95);
    color: #FFFFFF;
  }

  .mylongcta:hover{
    background-color: rgba(255, 125, 73, 0.95);
    color: #FFFFFF;
  }


  .work-image{
    border-radius: 4px;
  }

  h2.section-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
  color: #050401;
  opacity: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  }

  .work-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  color: #7D7C84;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  }

  .work-date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 32px;
  color: #333138;
  width: 100%;
  margin-top: 20px;
  }

  img.me1{
    width: 100%;
  }

.myaboutpara2{
  margin-top: 0px;
}
  /*.container{
    width: 1136px;
  }*/

  .myworktext{
    margin-left: 40px;
    margin-top: 12px;
  }

  .myworktext h2{
    margin-bottom: 0px;
  }

  #hiddenworkrows{
    display: none;
  }

  .workrowsalt .myworktext{
  margin-left: -380px;
  }

  .workrowsalt .myworkimg{
    padding-left: 380px;
  }

  .hiddenworkrows .workrowsalt .myworktext{
  margin-left: -380px;
  }

  .hiddenworkrows .workrowsalt .myworkimg{
    padding-left: 380px;
  }



  .intro-message-contact {
  position: relative;
  padding-bottom: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  text-align: center;
  color: #050401;
  width: 600px;
  margin: 0 auto 20px;
  }

  .mycontent{
    border-bottom: 0.5px solid rgba(5,4,1,0.2);
  }

  .intro-header-contact {
  padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 80px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  position: relative;
  }

  .mycontactmessage p{
    margin-bottom: 36px;
  }

  .extlink{
    padding: 0px 4px;
  }
  .extlinkimg{
    width: 36px;
    height: 36px;
  }

  .myviewmore{
    margin: auto;
    margin-bottom: 80px;
    text-align: -webkit-center;

  }

  .viewmore{
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 180px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    color: #333138;
    box-shadow: 0px 4px 12px rgba(5, 4, 1, 0.08);
  }

  .viewmore:hover{
     box-shadow: 0px 8px 24px rgba(5, 4, 1, 0.06);
  }

  .myshortcta, .mylongcta:focus{
  outline: none;
  }
  .myshortcta, .mylongcta:active{
  outline: none;
  }

  .intro-header {
      padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
      padding-bottom: 80px;
      text-align: center;
      border-bottom: 0.5px solid rgba(5,4,1,0.3);
      background-size: cover;
      height: 640px;
  }

  .myworkimg img{
    width: 360px;
    height: 270px;
  }


  .topnav {
      font-size: 16px;
      /*border-bottom: 1px outset rgba(192, 192, 192, 0.5);*/

      /*box-shadow: 0px 1px rgba(0, 0, 0, 0.3);*/

  }
  .topnav ul.navbar-nav li a {
  background:transparent;
  font-family: 'Poppins' , sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #7D7C84;
  }

  .topnav ul.navbar-nav li a:hover{
   color: #333138;
  }

  .me1rec{
    position: absolute;
    left: -24px;
    top: -20px;
    z-index: -2;
  }

  .me2rec{
    position: absolute;
    left: -24px;
    top: -32px;
    z-index: -2;
  }

  .myaboutpara1{
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    color: #7D7C84;
  }

  #myaboutheading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    color: #050401;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  #myaboutpara1{
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7D7C84;
  }

  img.hobbies{
    position: relative;
    top: 12px;
    width: 400px;
    border-radius: 24px;
  }
  

  .photosrow{
    position: relative;
  }

  .photosrec{
    position: absolute;
    left: -40px;
    top: -32px;
    z-index: -2;
    height: 560px;
    width: 1000px;
  }

  .about-rows3{
    margin: 80px 0px;
  }

  .about-rows4{
    margin-bottom: 140px;
  }

  .photos{
  border-bottom: 0.5px solid rgba(5,4,1,0.2);
  }

  .experiencepic{
    text-align: center;
    padding: 32px 0px;
  }

  .mysectionheading{
    margin-top: 40px;
    padding-bottom: 0px;
  }

  .mysectioncontent{
    margin-top: 20px;
  }
  .gamesrow{
    margin-top: 120px;
  }
  .lnmrow{
    margin: 80px 0 160px;
  }

  .mysectionheading h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 28px;
  text-align: center;
  color: #050401;
  margin-bottom: 0px;
  margin-top: 20px;
  }

  .mysectionheading p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #7D7C84;
    width: 84%;
    margin: 16px auto 0px;
  }

  .myexperience{
    margin: 20px 0px;
    position: relative;
  }

  h2.myaboutheader{
    font-size: 28px;
    line-height: 48px;
  }

.myexptext{
  clear: left;
}

.about-rows1{
  margin: 160px 0px 80px;
}

.about-rows2{
  margin: 80px 0px;
}

.about-rows4{
  margin: 0px;
  margin-bottom: 120px;
}

.mypics{
 width: 920px;
 height: 492px;
}

img.hobbies2{
  display: none;
}

.mypics2, .photosrec2{
  display: none;
}

.contactcontent{
  margin: 120px 0px 140px;
}

.contact-hello{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  font-size: 40px;
  color: #050401;
  margin: 0px 0px 4px;
}

.intro-message-contact-page p, .contact-email p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #7D7C84;
  margin: 12px 0px;
}

h3.email-contact{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 font-size: 16px;
 color: #050401;
 margin: 12px 0 16px;
}

.contact-email{
  margin-top: 56px;
}

.contact-findme{
  margin-top: 40px;
}

.findme-links{
  margin: 24px 0px;
  position: relative;
  left: -12px;
}

.form-group{
  margin-bottom: 36px;
  margin-top: 4px;
}

.form-group label{
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #333138;
}

.form-group input{
  height: 40px;
}

.form-group textarea{
  height: 80px;
}


.contact-form button{
  margin-top: 20px;
}

.contactrow{
  margin-left: 0px;
  margin-right: 0px;
}



img.homegreenrec{
  position: absolute;
  left: 0px;
  top:  176px;
  width: 100px;

}

img.homebluerec{
  position: absolute;
  right: 0px;
  top:  160px;
  width: 160px;
}

img.homeyellowrec{
  position: absolute;
  left: 144px;
  top:  460px;
  width: 90px;
  height: 80px;
}

img.contactgreenrec_home{
  position: absolute;
  right: 0px;
  top:  100px;
  width: 120px;
}

img.contactbluerec_home{
  position: absolute;
  left: 0px;
  top:  260px;
  width: 120px;
}

img.contactyellowrec_home{
  position: absolute;
  left: 40px;
  top:  40px;
  width: 60px;
}

img.contactgreenrec_about{
  position: absolute;
  right: 0px;
  top:  100px;
  width: 120px;
}

img.contactbluerec_about{
  position: absolute;
  left: 0px;
  top:  260px;
  width: 120px;
}

img.contactyellowrec_about{
  position: absolute;
  left: 40px;
  top:  40px;
  width: 60px;
}

img.expgreenrec{
  position: absolute;
  left: 24px;
  top:  140px;
  width: 80px;
}

img.expbluerec{
  position: absolute;
  left: 0px;
  top:  500px;
  width: 120px;
}

img.exporangerec{
  position: absolute;
  right: 0px;
  top:  160px;
  width: 180px;
}

img.expgreenrec2{
  position: absolute;
  left: 56px;
  bottom:  840px;
  width: 80px;
}

img.expbluerec2{
  position: absolute;
  left: 0px;
  bottom:  440px;
  width: 120px;
}

img.exporangerec2{
  position: absolute;
  right: 0px;
  bottom:  520px;
  width: 160px;
}

.storyheaderimage img{
  width: 100%;
}

.content img{
  width: 100%;
  margin: 40px 0px;
  border-radius: 4px;
}

.storyintroheader{
  padding: 80px 0px 20px;
  border: none;
}

img.headermobile{
  display: none;
}

.storysection{
  padding: 60px 0px;
}

.storyhighlight{
  background: #f9f9f9;
}

.imagelarge{
  margin-top: -60px;
}

.imagelarge .content img{
  margin: 0px;
}

.content p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-size: 16px;
  color: #050401;
  opacity: 1;
  margin: 16px 0px;
  text-align: left;
}

.content h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  font-size: 32px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 24px;
}

.content h2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 40px;
}

.content h3{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-size: 20px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 40px;
}

.content h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #333138;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -20px;
}

p.highlight{
  background: #f9f9f9;
  padding: 20px 20px;
  margin: 40px 0px;
  font-style: italic;
}

.otomatesummary{
  margin-top: 80px;
  margin-bottom: 80px;
}

.superbosssummary{
  padding-top: 0px;
}

.imagelarge2{
  margin-top: 0px;
}

.sider p{
  margin-top: 12px;
}
.sider h3{
  margin-bottom: 0px;
}

.expmobile{
  display: none;
}
.gamesmobile{
  display: none;
}
.tripmobile{
  display: none;
}

.cleartrip_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 100%;
}

 .recharge_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 100%;
}
    
#togglelink{
  cursor: pointer;
  padding: 4px 16px;
  background:transparent;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #BFC0C0;
  opacity: 1;
  transform: scale(0.75);
}    

}

@media (min-width: 768px) and (max-width: 991px){

  .mynavbarbrand img{
    width: 220px;
    height: 33.76px;
  }

  .mynavbarheader{
    padding-top: 0px;
  }

  .container{
    width: 720px;
  }

  .navbar-default{
    background-color: rgba(255,255,255,0.95);
  }

  .mynavbar{
  height: 80px;
  margin-bottom: 0px;
  border-bottom: 0.5px solid rgba(5,4,1,0.2);

  }

  .mycontainer{
    height: 80px;
    padding: 0px;
  }

  .mynavbarheader{
    height: 80px;
  }

  .mynavbarbrand{
    height: 80px;
    padding: 22px 0px;
  }

  .mynavlinks{
    height: 80px;
    padding: 16px 0px;
  }



  .container{
    padding: 0px;
  }

  .work-rows{
    margin: 40px 0px;
    padding: 32px 0px;
    border-radius: 8px;
  }

  .work-rows:hover{
    background-color: #F9F9F9;
  }

  .intro-message{
    padding: 8% 0% 8%;
  }

  .intro-message h1{
    margin-bottom: 16px;
    text-shadow: none;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #050401;
  }

  .intro-message p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    width: 560px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 48px;
    color: #7D7C84;
  }

  .myshortcta{
    width: 176px;
    height: 48px;
    background-color: #FF7D49;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
  }

  .mylongcta{
    width: 272px;
    height: 48px;
    background-color: #FF7D49;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
  }

  .myshortcta:hover{
    background-color: rgba(255, 125, 73, 0.95);
    color: #FFFFFF;
  }

  .mylongcta:hover{
    background-color: rgba(255, 125, 73, 0.95);
    color: #FFFFFF;
  }

  .work-image{
    border-radius: 4px;
  }

  h2.section-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 28px;
  color: #050401;
  opacity: 1;
  margin-top: 56px;
  margin-bottom: 0px;
  }

  .work-para {

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #7D7C84;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 12px;
  }

  .work-date {

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #333138;
  width: 100%;
  margin-top: 12px;
  }

  /*.container{
    width: 1136px;
  }*/



  .myworktext h2{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #hiddenworkrows{
    display: none;
  }

  /*.workrowsalt .myworktext{
  margin-left: -380px;
  }

  .workrowsalt .myworkimg{
    padding-left: 380px;
  }

  .hiddenworkrows .workrowsalt .myworktext{
  margin-left: -380px;
  }

  .hiddenworkrows .workrowsalt .myworkimg{
    padding-left: 380px;
  }*/

  .intro-message-contact {
  position: relative;
  padding-bottom: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  color: #050401;
  width: 560px;
  margin: 0 auto;
  }

  .mycontent{
    border-bottom: 0.5px solid rgba(5,4,1,0.2);
  }

  .intro-header-contact {
  padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 80px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  }

  .mycontactmessage p{
    margin-bottom: 36px;
  }

.extlink{
  padding: 0px 4px;
}  
  
.extlinkimg{
  width: 36px;
  height: 36px;
}

  .myviewmore{
    margin: auto;
    margin-bottom: 60px;
    text-align: -webkit-center;
  }

  .viewmore{
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 180px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    color: #333138;
    box-shadow: 0px 4px 12px rgba(5, 4, 1, 0.08);
  }

  .viewmore:hover{
     box-shadow: 0px 8px 24px rgba(5, 4, 1, 0.06);
  }

  .myshortcta, .mylongcta:focus{
  outline: none;
  }
  .myshortcta, .mylongcta:active{
  outline: none;
  }


  .intro-header {
      padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
      padding-bottom: 80px;
      text-align: center;
      border-bottom: 0.5px solid rgba(5,4,1,0.2);
      background-size: cover;
      height: 640px;
  }

  .myworkimg img{
    width: 480px;
    height: 360px;
  }

  .myworktext{
    margin-top: 32px;
  }


  .topnav {
      font-size: 16px;
      /*border-bottom: 1px outset rgba(192, 192, 192, 0.5);*/

      /*box-shadow: 0px 1px rgba(0, 0, 0, 0.3);*/

  }
  .topnav ul.navbar-nav li a {
  background:transparent;
  font-family: 'Poppins' , sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #7D7C84;
}
 .topnav ul.navbar-nav li a:visited {
  background:transparent;
  font-family: 'Poppins' , sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #7D7C84;
}

  .topnav ul.navbar-nav li a:hover{
   color: #333138;
  }

  .me1rec{
    position: absolute;
    left: -24px;
    top: -20px;
    z-index: -2;
  }

  .me2rec{
    position: absolute;
    left: -24px;
    top: -32px;
    z-index: -2;
  }

  .myaboutpara1{
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7D7C84;
  }
  #myaboutheading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    color: #050401;
    margin-bottom: 0px;
    margin-top: 60px;
  }
  #myaboutpara1{
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7D7C84;
  }

  img.hobbies2{
    display: none;
  }

  img.hobbies{
    display: block;
    width: 480px;
    position: relative;
    border-radius: 24px;
    top: 20px;
  }

  .photosrow{
    position: relative;
  }

  .photosrec{
    position: absolute;
    left: -40px;
    top: -20px;
    z-index: -2;
    height: 440px;
    width: 760px;
  }


  .about-rows3{
    margin: 40px 0px;
  }

  .about-rows4{
    margin-bottom: 140px;
  }

  .photos{
  border-bottom: 0.5px solid rgba(5,4,1,0.2);
  }

  .experiencepic{
    text-align: center;
    padding: 24px 0px;
  }

  .mysectionheading{
    padding-bottom: 0px;
  }

  .mysectionheading h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 28px;
  text-align: left;
  color: #050401;
  margin-bottom: 0px;
  margin-top: 20px;
  }

  .mysectionheading p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    color: #7D7C84;
    margin: 12px auto 0px;
    width: 100%;
  }

  .myexperience{
    margin: 40px 0px;
  }

  h2.myaboutheader{
    font-size: 28px;
    line-height: 48px;
    margin-top: 0px;
  }

.myexptext{
  clear: left;
}

.gamesrow{
  margin-top: 80px;
}

.lnmrow{
  margin: 60px 0 140px;
}

.about-rows1{
  margin: 160px 0px 40px;
}

.about-rows2{
  margin: 40px 0px 60px;
}

.about-rows4{
  margin: 0px;
  margin-bottom: 100px;
}

.mypics{
 width: 720px;
 height: 385px;
}

.myaboutpara2{
  margin-top: 0px;
}

.myabtrow2txt{
  position: relative;
  top: 408px;
}

.myabtrow2pic{
  position: relative;
  top: -380px;
  left: 40px;
}

.mypics2, .photosrec2{
  display: none;
}

h2.myaboutheading{
  margin-top: 36px;
}

.contactcontent{
  margin: 120px 0px 140px;
}

.contact-hello{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  font-size: 40px;
  color: #050401;
  margin: 0px 0px 4px;
}

.intro-message-contact-page p, .contact-email p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #7D7C84;
  margin: 12px 0px;
}

h3.email-contact{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 font-size: 16px;
 color: #333138;
 margin: 12px 0 16px;
}

.contact-email{
  margin-top: 32px;
}

.contact-findme{
  margin-top: 32px;
  margin-bottom: 64px;
}

.findme-links{
  margin: 24px 0px;
  position: relative;
  left: -12px;
}

.form-group{
  margin-bottom: 40px;
  margin-top: 4px;
}

.form-group label{
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #333138;
}

.form-group input{
  height: 40px;
}

.form-group textarea{
  height: 80px;
}


.contact-form button{
  margin-top: 20px;
}

img.homegreenrec{
  position: absolute;
  left: 0px;
  top:  360px;
  width: 100px;

}

img.homebluerec{
  position: absolute;
  right: 0px;
  top:  300px;
  width: 140px;
}

img.homeyellowrec{
  position: absolute;
  left: 144px;
  top:  520px;
  width: 90px;
  height: 80px;
}

img.contactgreenrec_home{
  display: none;
}

img.contactbluerec_home{
    display: none;
}

img.contactyellowrec_home{
    display: none;
}

img.contactgreenrec_about{
    display: none;
}

img.contactbluerec_about{
    display: none;
}

img.contactyellowrec_about{
    display: none;
}

img.expgreenrec{
  display: none;
}

img.expbluerec{
  display: none;
}

img.exporangerec{
  display: none;
}

img.expgreenrec2{
  display: none;
}

img.expbluerec2{
  display: none;
}

img.exporangerec2{
  display: none;
}

.storyheaderimage img{
  width: 100%;
}

.content img{
  width: 100%;
  margin: 40px 0px;
  border-radius: 4px;
}

.storyintroheader{
  padding: 80px 0px 20px;
  border: none;
}

img.headermobile{
  display: none;
}

.storysection{
  padding: 40px 0px;
}

.storyhighlight{
  background: #f9f9f9;
}

.imagelarge{
  margin-top: -40px;
}

.imagelarge .content img{
  margin: 0px;
}

.content p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #050401;
  opacity: 1;
  margin: 16px 0px;
  text-align: left;
}

.content h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  font-size: 32px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
}

.content h2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 40px;
}

.content h3{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-size: 20px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 36px;
}

.content h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 52px;
  font-size: 16px;
  color: #333138;
  opacity: 1;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -20px;
}

p.highlight{
  background: #f9f9f9;
  padding: 20px 20px;
  margin: 40px 0px;
  font-style: italic;
}

.otomatesummary{
  margin-top: 60px;
  margin-bottom: 60px;
}

.superbosssummary{
  padding-top: 0px;
}

.imagelarge2{
  margin-top: 0px;
}

.expmobile{
  display: none;
}
.gamesmobile{
  display: none;
}
.tripmobile{
  display: none;
}

.cleartrip_prototype iframe{
  margin-top: 12px;
  width:100%;
  height: 80%;
}

 .recharge_prototype iframe{
  margin-top: 12px;
  width:100%;
  height: 80%;
}
    
#togglelink{
  cursor: pointer;
  padding: 4px 16px;
  background:transparent;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #BFC0C0;
  opacity: 1;
  transform: scale(0.75);
}    

}

  @media (min-width: 0px) and (max-width: 767px){

    .container>.navbar-header{
      margin-left: 0px;
      margin-right: 0px;
    }

    button.navbar-toggle{
      margin-right: 0px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0px;
    }

    .navbar-toggle .icon-bar{
      width: 24px;
    }
    .navbar-toggle .icon-bar+.icon-bar{
      margin-top: 5px;
    }

    .mynavbarbrand img{
      width: 220px;
      height: 33.75px;
    }

    .mynavbarheader{
      padding-top: 0px;

    }

    .container{
      width: 328px;
    }

    .navbar-default{
      border: none;
    }

    .mynavbar{
    height: 56px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid rgba(5,4,1,0.2);

    }

    .mycontainer{
      height: 56px;
      padding: 0px;
    }

    .mynavbarheader{
      height: 56px;
    }

    .mynavbarbrand{
      height: 56px;
      padding: 12px 0px;
    }

    .mynavlinks{

      padding: 0px;
    }

    .container{
      padding: 0px;
    }

    .work-rows{
      margin: 64px 0px;
      padding: 0px;
      border-radius: 8px;
    }


    .row{
      margin-left: 0px;
      margin-right: 0px;
    }

    .intro-message{
      padding: 36px 0px;
    }

    .scrollindicator{
      margin-top: 20px;
    }

    .intro-message h1{
      text-shadow: none;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      width: 328px;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .intro-message p{
      font-size: 14px;
      line-height: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      margin: auto;
      margin-bottom: 56px;
      width: 320px;
      color: #7D7C84;
    }

    .myshortcta{
      width: 176px;
      height: 48px;
      background-color: #FF7D49;
      border-radius: 4px;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      border: none;
      color: #FFFFFF;
    }

    .mylongcta{
      width: 272px;
      height: 48px;
      background-color: #FF7D49;
      border-radius: 4px;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      border: none;
      color: #FFFFFF;
    }

    .work-image{
      border-radius: 4px;
    }

    h2.section-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    color: #050401;
    opacity: 1;
    margin-top: 4px;
    }

    .work-para {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    color: #333138;
    opacity: 1;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 12px;
    }

    .work-date {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    color: #333138;
    width: 100%;
    margin-top: 12px;
    }

    /*.container{
      width: 1136px;
    }*/

    .myworktext h2{
      margin-bottom: 0px;
      margin-top: 0px;
    }

    #hiddenworkrows{
      display: none;
    }

    /*.workrowsalt .myworktext{
    margin-left: -380px;
    }

    .workrowsalt .myworkimg{
      padding-left: 380px;
    }

    .hiddenworkrows .workrowsalt .myworktext{
    margin-left: -380px;
    }

    .hiddenworkrows .workrowsalt .myworkimg{
      padding-left: 380px;
    }*/

    .intro-message-contact {
    position: relative;
    padding-bottom: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #050401;
    }

    .mycontent{
      border-bottom: 0.5px solid rgba(5,4,1,0.2);
    }

    .intro-header-contact {
    padding-top: 56px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 56px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    font-size: 24px;
    color: #050401;
    }

    .mycontactmessage p{
      margin-bottom: 36px;
    }

    .extlink{
      padding: 0px 4px;
    }
    .extlinkimg{
      width: 40px;
      height: 40px;
    }

    .myviewmore{
      margin: auto;
      margin-bottom: 56px;
      text-align: -webkit-center;
    }

    .viewmore{
      padding: 0px;
      border-radius: 4px;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      width: 180px;
      height: 48px;
      background-color: #FFFFFF;
      border: none;
      color: #333138;
      box-shadow: 0px 4px 12px rgba(5, 4, 1, 0.08);
    }

    .viewmore:hover{
       box-shadow: 0px 8px 24px rgba(5, 4, 1, 0.06);
    }

    .myshortcta, .mylongcta:focus{
    outline: none;
    }
    .myshortcta, .mylongcta:active{
    outline: none;
    }



    .intro-header {
        padding-top: 56px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 56px;
        text-align: center;
        border-bottom: 0.5px solid rgba(5,4,1,0.3);
        background-size: cover;
        height: 720px;

    }

    .myworkimg img{
      width: 328px;
      height: 247px;

    }

    .myworktext{
      margin-top: 24px;

    }


    .topnav {
        font-size: 16px;

    }
    .topnav ul.navbar-nav li a {
    background:transparent;
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    padding: 30px 0px;
    color: #333138;
    height: 80px;
}

.navbar-default{
  background-color: rgba(255,255,255,0.95);
}

ul.mynavlinks{
  margin: 0px;
  height: 100vh;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 1200px;
    margin-left: -220px;
    margin-right: -220px;
    border: none;
  }

.navbar-collapse{
  padding: 0px;
  max-height: 1200px;
  height: 100vh;
  background-color: #f9f9f9;
}


ul.mynavlinks li{
  padding: 0px;
  height: 80px;

  border-bottom: 0.5px solid rgba(5,4,1,0.3);
}

.me1rec{
  position: absolute;
  left: -20px;
  top: -16px;
  z-index: -2;
  width: 360px;
  height: 264px;
}

.me2rec{
  position: absolute;
  left: 8px;
  top: -28px;
  z-index: -2;
  width: 308px;
  height: 336px;
}

img.hobbies{
  position: relative;
  top: 32px;
  width: 100%;
  border-radius: 24px;
}

#myaboutheading{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  color: #050401;
  margin-bottom: 0px;
  margin-top: 16px;
}
#myaboutpara1{
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333138;
}

img.hobbies{
  width: 328px;
}

img.hobbies2{
  display: none;
}

.photosrec{
  display: none;
}

.about-rows3{
  margin: 0px;
}

.about-rows4{
  margin-bottom: 140px;
}

.photos{
border-bottom: 0.5px solid rgba(5,4,1,0.2);
}

.experiencepic{
  text-align: center;
  padding: 16px 0px 40px;
}

.experiencepic img{
  width: 328px;
}

.mysectionheading{
  padding-bottom: 0px;
}

.mysectionheading h1{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 40px;
font-size: 24px;
text-align: left;
color: #050401;
margin-bottom: 0px;
margin-top: 20px;
}

.mysectionheading p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  color: #333138;
  margin: 8px auto 0px;
}

.myexperience{
  margin: 0px;
}

h2.myaboutheader{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 24px;
  text-align: left;
  color: #050401;
  margin-bottom: 0px;
  margin-top: 20px;
}
.myaboutpara1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  color: #333138;
  margin: 8px auto 0px;
}

.myexptext{
clear: left;
}

.gamesrow{
  margin-top: 32px;
}

.lnmrow{
  margin: 32px 0 100px;
}


.about-rows1{
margin: 100px 0px 40px;
}

.about-rows2{
margin: 40px 0px 56px;
}

.about-rows4{
margin: 36px 0px 56px;

}

.mypics{
display: none;
}

.myaboutpara2{
margin-top: 0px;
}

.myabtrow2txt{
position: relative;
top: 300px;
}

.myabtrow2pic{
position: relative;
top: -432px;
}

.me1{
  width: 328px;
}

.me2{
  width: 284px;
  height: 278px;
  margin-left: 22px;
}

.myabouttxt{
  margin-top: 32px;
}

.myabouttxt h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
}

.myabouttxt2 h1{
  line-height: 32px;
  font-size: 24px;
  text-align: left;
}

.myabouttxt2 p{
  text-align: left;
}

.photosrow{
  position: relative;
}

.photosrec2{
  position: absolute;
  left: -8px;
  z-index: -2;
  top: -60px;
  width: 340px;
  height: 480px
}

.contactcontent{
  margin: 92px 0px 80px;
}

.contact-hello{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  font-size: 28px;
  color: #050401;
  margin: 0px 0px 12px;
}

.intro-message-contact-page p, .contact-email p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  color: #333138;
  margin: 12px 0px;
}

h3.email-contact{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 font-size: 16px;
 color: #333138;
 margin: 12px 0 16px;
}

.contact-email{
  margin-top: 32px;
}

.contact-findme{
  margin-top: 24px;
  margin-bottom: 48px;
}

.findme-links{
  margin: 24px 0px;
  position: relative;
  left: -12px;
}

.form-group{
  margin-bottom: 24px;
  margin-top: 20px;
}

.form-group label{
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #333138;
}

.form-group input{
  height: 40px;
}

.form-group textarea{
  height: 80px;
}


.contact-form button{
  margin-top: 12px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

img.homegreenrec{
  position: absolute;
  left: 0px;
  top:  492px;
  width: 72px;

}

img.homebluerec{
  position: absolute;
  right: 0px;
  top:  472px;
  width: 112px;
}

img.homeyellowrec{
  position: absolute;
  left: 80px;
  top:  640px;
  width: 72px;

}

img.contactgreenrec_home{
  display: none;
}

img.contactbluerec_home{
    display: none;
}

img.contactyellowrec_home{
    display: none;
}

img.contactgreenrec_about{
    display: none;
}

img.contactbluerec_about{
    display: none;
}

img.contactyellowrec_about{
    display: none;
}

img.expgreenrec{
  display: none;
}

img.expbluerec{
  display: none;
}

img.exporangerec{
  display: none;
}

img.expgreenrec{
  display: none;
}

img.expbluerec{
  display: none;
}

img.exporangerec{
  display: none;
}

img.expgreenrec2{
  display: none;
}

img.expbluerec2{
  display: none;
}

img.exporangerec2{
  display: none;
}

.storyheaderimage img{
  width: 100%;
}

img.headernonmobile{
  display: block;
}

img.headermobile{
  display: none;
}

.content img{
  width: 100%;
  margin: 40px 0px;
  border-radius: 4px;
}

.storyintroheader{
  padding: 56px 0px 0px;
  border: none;
}

.storysection{
  padding: 20px 0px;
}

.storyhighlight{
  background: #f9f9f9;
}

.imagelarge{
  margin-top: -28px;
}


.content p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #050401;
  opacity: 1;
  margin: 12px 0px;
  text-align: left;
}

.content h1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  font-size: 24px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 12px;
}

.content h2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  font-size: 20px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 20px;
}

.content h3{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  color: #050401;
  opacity: 1;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 16px;
}

.content h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #333138;
  opacity: 1;
  text-align: left;
  margin-bottom: 24px;
  margin-top: 00px;
}

p.highlight{
  background: #f9f9f9;
  padding: 20px 20px;
  margin: 24px 0px;
  font-style: italic;
}

.otomatesummary{
  margin-top: 60px;
  margin-bottom: 60px;
}

.content{
  margin-left: 16px;
  margin-right: 16px;
}

.superbosssummary{
  padding-top: 0px;
}

.imagelarge2{
  margin-top: 0px;
}

.sider{
  margin-bottom: 48px;
}

.expmobile{
  display: block;
}
.expnonmobile{
  display: none;
}

.gamesmobile{
  display: block;
}
.gamesnonmobile{
  display: none;
}

.tripmobile{
  display: block;
}
.tripnonmobile{
  display: none;
}

.cleartrip_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 40%;
  margin-bottom: 12px;
}

 .recharge_prototype iframe{
  margin-top: 20px;
  width:100%;
  height: 40%;
  margin-bottom: 12px;
}
      
#togglelink{
  cursor: pointer;
  padding: 20px 20px;
  background:transparent;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #BFC0C0;
  opacity: 1;
  transform: scale(0.75);
}      



.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 50%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

}
